<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">
    <title>Blockchain</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }

      h1 {
        margin-bottom: 20px;
      }

      .block-link {
        display: block;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Blockchain Uploader</h1>
    <form action="/post" method="post">
      <input type="text" name="from_address" placeholder="From address">
      <input type="text" name="to_address" placeholder="To address">
      <input type="text" name="private_key" placeholder="Private Key">
      <input type="text" name="message" placeholder="Message">
      <input type="text" name="memo" placeholder="Memo">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
